<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171259978874-e8vubiaacfdm1bo1b1v2jmgn7a1m8ad5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171259978874-e8vubiaacfdm1bo1b1v2jmgn7a1m8ad5</string>
	<key>API_KEY</key>
	<string>AIzaSyAOBDvmJk0yv_dReX3aMUPbvShM1p_hVvo</string>
	<key>GCM_SENDER_ID</key>
	<string>171259978874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesse.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-c67ff</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-c67ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171259978874:ios:7a157a929f2a526c1007c3</string>
</dict>
</plist>